{% extends "holdings/layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block head %}{% endblock %}

{% block body %}

  <div class="app__container">
    <div id="app" />
  </div>
  <script type="text/babel">

    class App extends React.Component {
      render() {
        return (

          <div class="container">
            <div class="row">
              <StockForm />
            </div>
            <div class="row">
              <UserHoldings />
            </div>
          </div>

        );
      }
    }

    class StockForm extends React.Component {
      constructor(props) {
        super(props);
        this.state = {};

        this.handleChange = this.handleChange.bind(this);
        this.handleSubmit = this.handleSubmit.bind(this);
      }

      handleChange(event) {
        const target = event.target;
        const name = target.name;
        const value = target.value;

        this.setState({
          [name]: value
        });
      }

      handleSubmit(event) {
        fetch('http://127.0.0.1:8000/add_position', {
          method: 'POST',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            symbol: this.state.symbol,
            shares: this.state.shares,
            price: this.state.price,
            date: this.state.date
          })
        });
        event.preventDefault();
      }

      render() {
        return (
          <div class="stock__form--container">
            <h4>Add New Position</h4>
            <div>
              <form onSubmit={this.handleSubmit}>
                <div class="flex flex-row stock__form">
                  <input type="text" name="symbol" value={this.state.value} placeholder="Symbol" onChange={this.handleChange} class="stock__form--input" />
                  <input type="text" name="shares" value={this.state.value} placeholder="Shares" onChange={this.handleChange} class="stock__form--input" />
                  <input type="text" name="price" value={this.state.value} placeholder="Price" onChange={this.handleChange} class="stock__form--input" />
                  <input type="date" name="date" value={this.state.value} placeholder="Date" onChange={this.handleChange} class="stock__form--input" />
                  <input type="submit" value="Save" class="btn btn-primary" />
                </div>
              </form>
            </div>
          </div>
        )
      }
    }

    class UserHoldings extends React.Component {
      constructor(props) {
        super(props);
        this.state = {
          error: null,
          isLoaded: false,
          items: []
        };
      }

      componentDidMount() {
        fetch("http://127.0.0.1:8000/user_holdings")
          .then(res => res.json())
          .then(
            (result) => {
              this.setState({
                isLoaded: true,
                items: result.holdings
              });
            },
            // Note: it's important to handle errors here
            // instead of a catch() block so that we don't swallow
            // exceptions from actual bugs in components.
            (error) => {
              this.setState({
                isLoaded: true,
                error
              });
            }
          )
      }

      render() {
        const { error, isLoaded, items } = this.state;
        return (
          items.map(item => (
            <div class="col-4">
              <div class="asset__container flex flex-horizontal">
                <div>
                  <h4>{ item.symbol }</h4>
                  <p>{ item.name }</p>
                </div>
                <p>{ item.price }</p>
              </div>
            </div>
          ))
        );
      }
    }

    ReactDOM.render(<App />, document.querySelector("#app"));

  </script>

{% endblock %}
