$base-background: #101010;
$container-background: #383838;
$font-color-default: #FFFFFF;

body {
  background-color: $base-background;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: $font-color-default;
}

.row {
  margin-bottom: 15px;
}

.flex {
  display: flex;
  display: -webkit-flex;
}

.flex-horizontal {
  flex-direction: row;
  -webkit-flex-direction: row;
}

.flex-responsive {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.menu__container {
  background-color: $container-background;
  margin-bottom: 0px;
  padding: 15px;
}

.app__container {
  padding: 15px;
}

.portfolio__container {
  background-color: $container-background;
  border-radius: 5px;
  padding: 30px;
}

.stock__form--container {
  background-color: $container-background;
  margin: auto;
  border-radius: 5px;
  padding: 30px;

  h4 {
    text-align: center;
  }

  .btn-primary {
    margin: 5px;
    height: 50px;
    width: 75px;
  }

}

.stock__form--input {
  border-radius: 5px;
  background-color: #101010;
  color: white !important;
  padding: 10px 15px;
  margin: 5px;
  border: 0px;
}

.asset__container {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: $container-background;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .flex-responsive {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  .col-md-4 {
    padding-left: 7.5px !important;
    padding-right: 7.5px !important;
  }
}
